<head>
    <title>Test</title>
    <meta charset=utf-8>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>

<form action="/submit" method="POST">
    <label for="time">Time stamp:</label><br>
    <input type="text" id="time" name="time"><br><br>

    <label for="event">Event:</label><br>
    <input type="text" id="event" name="event"><br><br>

    <label for="trigger">Person(s) Recognized:</label><br>
    <input type="text" id="trigger" name="trigger"><br><br>

    <br><br>
        <button><a>Send</a></button><br>
</form>

</body>